// managed by aurora.local ansible / unattended-upgrades role
APT::Periodic::Update-Package-Lists "{{ unattended_upgrades_update_lists_days }}";
APT::Periodic::Download-Upgradeable-Packages "{{ unattended_upgrades_download_days }}";
APT::Periodic::Unattended-Upgrade "{{ unattended_upgrades_install_days }}";
APT::Periodic::AutocleanInterval "{{ unattended_upgrades_autoclean_days }}";
